<module>
  <rawname>cpviz</rawname>
  <repo>unsupported</repo>
  <name>Call Plan Visualizer</name>
  <version>1.0.10</version>
  <publisher>Southwest Cyberport, Inc.</publisher>
  <license>GPLv3+</license>
  <licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
  <category>Reports</category>
  <description>Graphical display of the call plan for any Inbound Route</description>
  <menuitems>
    <cpviz>Call Plan Visualizer</cpviz>
  </menuitems>
	<changelog>
		*1.0.8* First fully working release
		*1.0.0* First release, testing module creation 
	</changelog>
  <info>https://www.swcp.com/freepbx</info>
  <md5sum>c62830a311338fa38b1aa0e9f9284fc3</md5sum>
  <supported>
    <version>12.0</version>
  </supported>
</module>
